# PUBLIC_APP_NAME=Sportz
# PUBLIC_APP_URL=http://localhost:5173
# PUBLIC_APP_WSS_URL=
# DB_FILE_NAME=file:sportz.db


# # Rate Limiting
# RATE_LIMIT_HTTP_MAX_REQUESTS=50
# RATE_LIMIT_HTTP_WINDOW_SEC=10

# RATE_LIMIT_WS_MAX_CONNECTIONS=5
# RATE_LIMIT_WS_CONNECTION_WINDOW_SEC=2

# RATE_LIMIT_WS_MAX_MESSAGES=20
# RATE_LIMIT_WS_MESSAGE_WINDOW_SEC=5