@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  :root {
    height: 100%;
    scroll-behavior: smooth;
  }

  html,
  body {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }
}
